@font-face {
  font-family: "GT Walsheim Pro";
  src: url(fonts/GTWalsheimPro-CondensedMedium.ttf);
}

h1, h5 {
  font-family: 'GT Walsheim Pro';
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h5 {
  letter-spacing: 1em;
  font-size: 2em;
}

header {
  margin: 10px;
}

.header-menu ul {
  padding: 10px;
  font-family: 'Helvetica';
  font-weight: bold;
  text-transform: uppercase;
  justify-content: right;
  display: flex;
  column-gap: 20px;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }
 
}

.page-content {
  padding: 20vh 5vw;
  margin: 0;
  &-wrapper {
    column-gap: 200px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    h1{
      font-size: 8em;
    }
    .container-button {
      margin: 15% 0px;
    }
    button {
      cursor: pointer;
      text-transform: uppercase;
      padding: 14px 12px;
      background-color: #ffff;
      border: 1px solid;
      &:nth-child(1) {
        color: #ffff;
        background-color: #000;
        margin-right: 20px;
      }
      &:hover{
        color: #ffff;
        transform: scale(1.1);
        transition: .2s ease-in-out;
        background-color: #30D5C8;
        border-color: #30D5C8;
      }
    }
  }
}

.box-container {
  display: flex; 
  .rotating-box {
    height: 16em;
    width: 16em;
    border: 2px solid #30D5C8;
    animation: box-rotate 5s linear 0s infinite;
    @keyframes box-rotate {
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(-360deg);
      }
    }
    &-2{
      margin-left: -50%;
      margin-top: 35%;
      height: 12em;
      width: 12em;
      border: 2px solid #000;
      animation: box-rotate-reverse 12s linear 0s infinite;
      @keyframes box-rotate-reverse {
        0%{
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(360deg);
        }
      }
    }
  } &:hover {
      transform: scale(1.2);
      transition: 2s ease-in-out, transform 1s;
    }
}


